---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/AudioObject">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {% if page.date %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b. %-d, %Y" }}
        </time>
      {% endif %}
      {% if page.author %}
       • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
         <span itemprop="name">{{ site.data.authors[page.author].name }}</span>
       </span>
      {% endif %}
      {% if page.authors %}
        {% for author in page.authors %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ site.data.authors[author].name }}</span>
        </span>
        {% endfor %}
      {% endif %}
    </p>
  </header>

  {% if page.audio %}
  <audio controls style="width: 100%;" >
    <source src="{{ page.audio | relative_url }}" type="audio/mpeg">
  </audio>

  <br><br>
  {% endif %}

  {% assign series = site.posts | where:"series", page.series %}
  {% for message in series %}
    {% if message.audio == page.audio %}
      <p>
      {% assign index = forloop.length | minus: forloop.index0 %}
      {{ index }}{% case index %}{% when 1 %}st{% when 2 %}nd{% when 3 %}rd{% else %}th{% endcase %}
      Message in the series <em>{{ page.series }}</em>.
      </p>
      {% break %}
    {% endif %}
  {% endfor %}

  <div class="post-content" itemprop="associatedArticle">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
